// global CSS
@import "grandbazar";
@import "header";
@import "leads-content";
@import "kanban-grid";

.wrapper {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
}

.add-btn {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  color: $grey-color;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 8px;
  img {
    margin-right: 5px;
  }
}

.navigation {
  min-width: 340px;
  height: 100vh;
  background-color: $dark-color;
}
.global-content {
  width: calc(100% - 340px);
  width: 100%;
  padding: 30px;
  padding-bottom: 0;
  position: relative;
}
.hide {
  display: none !important;
}
.all-window-bg {
  display: none;
}
.all-window-bg.active {
  display: block;
  width: 100%;
  height: 100vh;
  background: rgba(22, 22, 22, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 20px;
}

.company-card,
.client-card,
.create-deal-card {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.4);
  top: 0;
  left: 0;
  padding: 30px 30px 50px;
  display: none;
  &__content {
    background-color: $lightGrey-color-two;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 30px;
    position: relative;
    overflow: hidden;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $yellow-color;
    &::after,
    &::before {
      content: "";
      width: 14px;
      height: 1px;
      background-color: $dark-color;
      border-radius: 1px;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  &__header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  &__title {
    margin-right: 18px;
  }
  &__btn {
    border: none;
    background: none;
    outline: none;
    margin-right: 9px;
    cursor: pointer;
  }
  &__second-header {
    border-bottom: 1px solid $lightGrey-color-three;
  }
  &__white-btn {
    cursor: pointer;
    background-color: $white-color;
    padding: 12px 20px;
    width: 87px;
    border-radius: 6px;
    font-weight: 700;
    border: none;
    outline: none;
    line-height: 20px;
    position: relative;
    margin-bottom: 12px;
    &::after {
      border-radius: 8px;
      height: 3px;
      width: 47px;
      background-color: $yellow-color;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      content: "";
    }
  }
  &__block {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    height: calc(100% - 93px);
  }
  &__box {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
    &:first-child {
      border-right: 1px solid $lightGrey-color-three;
      padding-right: 30px;
    }
    &:last-child {
      padding-left: 30px;
    }
  }
  &__box.active {
    overflow-y: initial;
  }
  .about,
  .additionally,
  .history {
    background-color: $white-color;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid $lightGrey-color-three;
    position: relative;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $lightGrey-color-three;
      padding-bottom: 12px;
      margin-bottom: 15px;
      width: 100%;
    }
    &__title-block {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &__title {
      margin-right: 6px;
      font-size: 14px;
      line-height: 20px;
    }
    &__grey-text {
      color: $grey-color;
      font-weight: 500;
      line-height: 20px;
    }
    &__text {
      margin-bottom: 15px;
      font-weight: 500;
      line-height: 20px;
      display: inline-block;
    }

    &__annual-turnover {
      line-height: 26px;
      font-size: 22px;
    }
    &__link {
      color: $inWork-color;
      margin-bottom: 15px;
      font-weight: 500;
      line-height: 20px;
      display: inline-block;
      cursor: pointer;
    }
    &__responsible {
      margin-top: 15px;
      display: flex;
      align-items: center;
      line-height: 11px;
    }
    &__img {
      margin-right: 10px;
    }
    &__footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .no-active {
      display: none;
    }
  }
  .about__max-content {
    max-height: calc(100vh - 400px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  .edit-form {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: $white-color;
    &__input-title {
      margin-bottom: 4px;
      line-height: 20px;
      font-weight: 500;
    }
    &__input {
      padding: 9px 15px;
      outline: none;
      border-radius: 6px;
      border: 1px solid $lightGrey-color-three;
      width: 100%;
      max-width: 100%;
      margin-bottom: 15px;
      line-height: 20px;
      font-size: 14px;
      &::placeholder {
        font-weight: bold;
        color: $lightGrey-color-four;
      }
    }
    &__input::placeholder {
      color: $grey-color;
      font-weight: 500;
      font-size: 14px;
    }
    &__input_date {
      width: 200px;
    }

    .edit-select {
      width: 100%;
      margin-bottom: 15px;
      &__item {
        padding: 6px 24px;
      }
      &__text {
        color: $grey-color;
        font-weight: 500;
        border: 1px solid $lightGrey-color-three;
      }
      &__text.active {
        color: $dark-color;
      }
      &__wrapper {
        width: auto;
        right: 5px;
      }
    }
    &__box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      .select {
        max-width: 203px;
        min-width: 203px;
        margin-left: 15px;
        margin-bottom: 0;
        &__text {
          border: 1px solid $lightGrey-color-three;
        }
      }
      input {
        margin-bottom: 0;
      }
      &-div {
        width: 100%;
        display: flex;
        align-items: center;
      }
      button {
        background: none;
        outline: none;
        color: $inWork-color;
        font-size: 14px;
        font-weight: 500;
        border: none;
        line-height: 20px;
      }
    }
    .mb-30 {
      margin-bottom: 30px;
    }
    .second-header {
      padding-bottom: 0;
      margin-bottom: 13px;
    }
    &__input-two {
      width: 100%;
      padding-right: 10px;
      border: none;
      outline: none;
      background: none;
      &::placeholder{
        color: #99a2ad;
        font-weight: 500;
        font-size: 14px;
      }
    }
    &__icon-one {
      padding-right: 13px;
      margin-right: 16px;
      border-right: 1px solid $lightGrey-color-three;
    }
    &__icon,
    &__delete-icon {
      cursor: pointer;
    }
    &__delete-icon {
      margin-left: 18px;
    }
    &__id {
      margin-bottom: 15px;
    }
    .add-btn {
      margin-top: -8px;
      margin-bottom: 15px;
    }
    &__btns {
      background-color: $white-color;
      position: absolute;
      bottom: -58px;
      left: -30px;
      width: 223%;
      padding: 15px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid $lightGrey-color-three;
    }
    &__btn {
      border: none;
      background: none;
      outline: none;
      color: $grey-color;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;
    }
    &__btn_yellow {
      background: #ffdc00;
      border-radius: 6px;
      border: none;
      padding: 13px 27px;
      margin-left: 30px;
      color: $dark-color;
    }
  }
  .about.active {
    position: sticky;
    z-index: 999;
  }
  .edit-form.active {
    display: flex;
  }
  .history {
    position: relative;
    &__title {
      margin-bottom: 30px;
    }
    &__date {
      padding: 5px 24px;
      border: 1px solid $lightGrey-color-four;
      border-radius: 6px;
      display: inline-block;
      position: absolute;
      top: 53px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $white-color;
    }
    &__items {
      border-left: 1px solid $lightGrey-color-three;
      border-top: 1px solid $lightGrey-color-three;
      padding: 45px 0 0 50px;
      margin-left: 20px;
    }
    &__item {
      position: relative;
      padding: 15px 20px;
      background-color: $lightGrey-color-two;
      border-radius: 6px;
      margin-bottom: 20px;
      &::before {
        width: 2px;
        height: calc(100% - 20px);
        border-radius: 6px;
        left: -1px;
        top: 10px;
        z-index: 1;
        content: "";
        position: absolute;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__icon-block {
      position: absolute;
      left: -70px;
      top: 50%;
      width: 40px;
      height: 40px;
      transform: translateY(-50%);
      display: flex;
      line-height: 10px;
      border-radius: 6px;
      border: 1px solid $lightGrey-color-three;
      background-color: $white-color;
      &::before {
        position: absolute;
        content: url(../icons/urlIcon.svg);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:after {
        position: absolute;
        content: "";
        width: 30px;
        height: 1px;
        background-color: $lightGrey-color-three;
        top: 50%;
        right: -31px;
      }
    }
    &__img-icon {
      position: absolute;
      top: 15px;
      right: 21px;
    }
    &__info-text {
      color: $grey-color;
      font-weight: 500;
      margin-bottom: 12px;
      line-height: 20px;
    }
    &__info-date {
      margin-left: 20px;
    }
    &__text {
      font-weight: 500;
      margin-bottom: 0;
      line-height: 20px;
    }
    &__link {
      margin-bottom: 0;
    }
    &__item_new {
      &::before {
        background-color: $yellow-color;
      }
    }
    &__item_in-work {
      &::before {
        background-color: $inWork-color;
      }
    }
    &__item_failed {
      &::before {
        background-color: $failed-color;
      }
    }
    &__item_success {
      &::before {
        background-color: $success-color;
      }
      .history__icon-block {
        border: 1px solid $success-color;
        &::before {
          content: url(../icons/success-icon.svg);
        }
      }
    }
  }
  .about-delete-btn.active {
    color: $failed-color;
  }
}

.create-deal-card{
  .about{
    z-index: 1;
  }
  .edit-form__btns{
  width: 100% !important;
  bottom: 0;
  left: 0;
  z-index: 10;
  }
}

.responsible {
  &__img {
    margin-right: 14px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__user {
    color: $inWork-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}
.create-deal-card {
  .about__max-content {
    max-height: auto;
    overflow-y: initial;
  }
}
.company-card.active,
.client-card.active,
.create-deal-card.active {
  display: block;
}

