@import url(../fonts/manrope/stylesheet.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #161616;
  background: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.new {
  background-color: #ffdc00;
}

.in-work {
  background-color: #007BFB;
}

.failed {
  background-color: #FF0C0C;
}

.success {
  background-color: #00D359;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.title-h1 {
  font-size: 42px;
}

.title {
  font-size: 28px;
}

.title-two {
  font-size: 22px;
  margin-bottom: 10px;
}

.min-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 30px;
}

.info-span {
  font-size: 12px;
  color: #99a2ad;
}

.yellow-text {
  color: #ffdc00;
}

.icon {
  font-size: 44px;
  display: inline-block;
}
.icon:hover::before {
  color: #ffdc00;
}

.grey-icon::before {
  color: #99a2ad;
}

.dark-icon::before {
  color: #161616;
}

.btn {
  background-color: #ffdc00;
  color: #161616;
  padding: 13px 15px;
  display: inline-block;
  text-align: center;
  width: 295px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  border: none;
  -webkit-transition: 0.3;
  transition: 0.3;
  cursor: pointer;
}
.btn:hover {
  background-color: #dddcdc;
}

.text-content {
  margin-bottom: 30px;
  padding-bottom: 40px;
  border-bottom: 0.5px solid #dddcdc;
  text-align: left;
}

@media (max-width: 900px) {
  .title {
    font-size: 24px;
  }
  .title-two {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
@media (max-width: 790px) {
  body.lock {
    overflow: hidden;
  }
}
@media (max-width: 550px) {
  body {
    font-size: 12px;
  }
  .text-content {
    padding: 0 0 20px;
    margin-bottom: 20px;
  }
  .title {
    font-size: 18px;
    line-height: 24px;
  }
  .title-two {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .content {
    padding: 30px 20px;
  }
  .icon {
    font-size: 32px;
  }
  .subtitle {
    font-size: 12px;
  }
}
@media (max-width: 394px) {
  .btn {
    width: 100%;
  }
}
.header {
  padding: 8px 40px 0;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 30px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .nav__item {
  margin-right: 40px;
  position: relative;
  margin-bottom: 8px;
  cursor: pointer;
}
.header .nav__item::after {
  display: none;
}
.header .nav__item:hover::after {
  display: block;
  content: url(../icons/plus.svg);
  position: absolute;
  bottom: -32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffdc00;
}
.header .nav__item:nth-child(2) {
  margin-right: 16px;
}
.header .nav__item.active::before {
  width: 100%;
  height: 3px;
  content: "";
  background-color: #ffdc00;
  position: absolute;
  bottom: -24px;
}
.header .nav__item_more {
  padding: 16px 40px 24px 24px;
  position: relative;
}
.header .nav__item_more:last-child {
  margin-right: 0;
}
.header .nav__item_more::after {
  position: absolute;
  content: "";
  background: url(../icons/arrowToDown.svg) center/cover;
  width: 10px;
  height: 6px;
  right: 21px;
  top: 44%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header .nav__item_more::before {
  position: absolute;
  bottom: 0;
  left: 16px;
  width: calc(100% - 32px);
  height: 1px;
  content: "";
  background-color: #dddcdc;
  display: none;
}
.header .nav__item_more:hover {
  -webkit-box-shadow: 0px 0px 9px rgba(186, 186, 186, 0.15);
          box-shadow: 0px 0px 9px rgba(186, 186, 186, 0.15);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.header .nav__item_more:hover::after {
  background: url(../icons/arrowToDownYellow.svg) center/cover;
}
.header .nav__item_more:hover .second-nav {
  display: block;
}
.header .nav__item_more:hover::before {
  display: block;
}
.header .nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.header .nav__second-items {
  position: absolute;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  top: 45px;
  left: 0;
  background-color: #fff;
  margin: 15px 0 0 0;
  padding: 16px 0px;
  z-index: 9;
}
.header .nav__second-items_one {
  min-width: 203px;
  -webkit-box-shadow: 0px 5px 20px rgba(186, 186, 186, 0.15);
          box-shadow: 0px 5px 20px rgba(186, 186, 186, 0.15);
}
.header .nav__second-items_two {
  min-width: 164px;
  border-top-right-radius: 8px;
}
.header .nav__second-items_three {
  border-top-right-radius: 8px;
  min-width: 160px;
}
.header .nav .second-nav {
  display: none;
}
.header .nav .second-nav__item {
  padding: 6px 24px;
  margin-bottom: 7px;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .nav .second-nav__item:last-child {
  margin-bottom: 0;
}
.header .nav .second-nav__item:hover {
  background: rgba(255, 220, 0, 0.05);
}
.header .nav .second-nav__item:hover::before {
  display: block;
}
.header .nav .second-nav__item::before {
  background-color: #ffdc00;
  height: 100%;
  width: 2px;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.second-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 12px;
  margin-bottom: 30px;
  border-bottom: 0.5px solid #dddcdc;
}
.second-header__title {
  margin-right: 30px;
  font-size: 28px;
}
.second-header__btns {
  height: 50px;
  background-color: #ffdc00;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}
.second-header__btn:first-child {
  padding: 15px 13px 15px 20px;
  position: relative;
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
}
.second-header__btn:first-child::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 20px;
  background: #161616;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.second-header__btn:last-child {
  height: 100%;
  padding: 15px 20px 15px 13px;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}
.second-header__btn-img {
  -webkit-transform: translate(0, -30%);
          transform: translate(0, -30%);
}
.second-header__btn.active {
  padding-left: 20px;
  background: #efcf02;
  margin-left: -7px;
  z-index: 9;
}
.second-header__btn.active .second-header__btn-img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: 3px;
}
.second-header__btn.active .second-header__btn-wrapper {
  display: block;
}
.second-header__btn-wrapper, .second-header__select-wrapper {
  position: absolute;
  top: 45px;
  left: 0;
  display: none;
}
.second-header .second-select-btn, .second-header__second-items {
  margin-top: 15px;
  width: 174px;
  border-radius: 8px;
  top: 45px;
  left: 0;
  background-color: #fff;
  padding: 16px 0px;
  z-index: 9;
}
.second-header .second-select-btn__item,
.second-header .second-select-btn .second-header__secound-item, .second-header__second-items__item,
.second-header__second-items .second-header__secound-item {
  cursor: pointer;
  padding: 6px 24px;
  margin-bottom: 7px;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.second-header .second-select-btn__item:last-child,
.second-header .second-select-btn .second-header__secound-item:last-child, .second-header__second-items__item:last-child,
.second-header__second-items .second-header__secound-item:last-child {
  margin-bottom: 0;
}
.second-header .second-select-btn__item.active,
.second-header .second-select-btn .second-header__secound-item.active, .second-header__second-items__item.active,
.second-header__second-items .second-header__secound-item.active {
  background: rgba(255, 220, 0, 0.05);
}
.second-header .second-select-btn__item.active::before,
.second-header .second-select-btn .second-header__secound-item.active::before, .second-header__second-items__item.active::before,
.second-header__second-items .second-header__secound-item.active::before {
  background-color: #ffdc00;
  height: 100%;
  width: 2px;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.second-header__select {
  padding: 15px 44px 15px 20px;
  border: 0.5px solid #dddcdc;
  border-radius: 6px;
  background-color: #fff;
  margin-right: 12px;
  position: relative;
  cursor: pointer;
}
.second-header__select.active .second-header__select-wrapper {
  display: block;
  z-index: 10;
}
.second-header__select.active .second-header__second-items {
  width: 230px;
}
.second-header__select.active .second-header__text::after {
  content: url(../icons/arrowToDownYellow.svg);
}
.second-header__text {
  position: relative;
  font-weight: 700;
  line-height: 20px;
}
.second-header__text::after {
  content: url(../icons/arrowToDown.svg);
  position: absolute;
  right: -19px;
  z-index: 0;
}
.second-header__search-form {
  border: 1px solid #dddcdc;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  width: 693px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.second-header label:first-child {
  width: 100%;
}
.second-header__search-input {
  padding: 15px 20px;
  padding-right: 0;
  border: none;
  background: no-clip;
  outline: none;
  width: 100%;
  display: block;
}
.second-header__search-btn {
  background: none;
  border: none;
  outline: none;
  padding: 15px 20px;
  cursor: pointer;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
}

.navigation {
  min-width: 340px;
  height: 100vh;
  background-color: #161616;
}

.global-content {
  width: calc(100% - 340px);
  width: 100%;
  padding: 30px;
  padding-bottom: 0;
  position: relative;
}

.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-end center;
      -ms-flex-pack: flex-end center;
          justify-content: flex-end center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.content .content-header__items {
  padding: 12px 5px;
  border-radius: 6px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .content-header__items:first-child {
  margin-right: 30px;
}
.content .content-header__item {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .content-header__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.content .content-header__link.active {
  position: relative;
}
.content .content-header__link.active::after {
  background: #ffdc00;
  border-radius: 8px;
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  height: 3px;
  width: 100%;
}
.content .content-header__span {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffdc00;
  border-radius: 50%;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-right: 8px;
}
.content .content-header .second-item {
  border-right: 1px solid #000;
}
.content .content-header .second-item:first-child {
  padding-right: 5px;
  border: none;
}
.content .content-header .second-item:last-child {
  border: none;
}
.content .content-header__text {
  font-weight: 500;
}
.content .kanban {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.content .kanban__item {
  width: 280px;
  min-width: 280px;
  margin-right: 20px;
}
.content .kanban__item:last-child {
  margin-right: 0;
}
.content .kanban__header {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  background-color: #fff;
  border: 0.5px solid #dddcdc;
}
.content .kanban__color-span {
  position: absolute;
  left: -1px;
  top: -1px;
  height: calc(100% + 2px);
  width: 7px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.content .kanban__title {
  font-size: 14px;
}
.content .kanban .create-deal {
  padding: 15px;
  border: 1px solid #dddcdc;
  border-radius: 6px;
  background-color: #fff;
  margin-bottom: 30px;
  display: none;
}
.content .kanban .create-deal__titles {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  margin-top: 15px;
}
.content .kanban .create-deal__titles:first-child {
  margin-top: 0;
}
.content .kanban .create-deal__label {
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
  border: 0.5px solid #dddcdc;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .kanban .create-deal__input {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  width: 100%;
  border: none;
  outline: none;
}
.content .kanban .create-deal__input::-webkit-inner-spin-button, .content .kanban .create-deal__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.content .kanban .create-deal__icon-one {
  padding-right: 13px;
  margin-right: 16px;
  border-right: 1px solid #dddcdc;
}
.content .kanban .create-deal__icon {
  cursor: pointer;
}
.content .kanban .create-deal__btns {
  margin-top: 20px;
}
.content .kanban .create-deal__btn {
  padding: 10px 26px;
  outline: none;
  background-color: #ffdc00;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}
.content .kanban .create-deal__btn_white {
  background-color: #fff;
}
.content .kanban .create-deal__sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .kanban .create-deal__sum label {
  max-width: 167px;
  margin-right: 6px;
  margin-bottom: 0;
}
.content .kanban .create-deal__select {
  position: relative;
}
.content .kanban .create-deal__currency {
  padding: 10px 15px;
  width: 61px;
  padding-right: 36px;
  border-radius: 6px;
  line-height: 20px;
  border: 0.5px solid #dddcdc;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.content .kanban .create-deal__currency::after {
  content: url(../icons/arrowToDown.svg);
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.content .kanban .create-deal__select-wrapper {
  padding-top: 8px;
  position: absolute;
  width: 100%;
  display: none;
}
.content .kanban .create-deal__select-wrapper.active {
  display: block;
}
.content .kanban .create-deal__select-items {
  padding: 8px 0;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 9px rgba(186, 186, 186, 0.35);
          box-shadow: 0px 0px 9px rgba(186, 186, 186, 0.35);
}
.content .kanban .create-deal__select-item {
  text-align: center;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.content .kanban .create-deal__select-item:last-child {
  margin-bottom: 0;
}
.content .kanban .create-deal__select-item.active {
  background: rgba(255, 220, 0, 0.05);
  position: relative;
}
.content .kanban .create-deal__select-item.active::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  content: "";
  background-color: #ffdc00;
}
.content .kanban .create-deal__new-client {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  color: #99a2ad;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 8px;
}
.content .kanban .create-deal__new-client img {
  margin-right: 5px;
}
.content .kanban .create-deal.active {
  display: block;
}
.content .kanban__content {
  border: 1px dashed #c4c4c4;
  border-top: none;
  padding: 20px 8px;
  height: calc(100vh - 345px);
  overflow: scroll;
}
.content .kanban__content::-webkit-scrollbar {
  width: 0;
}
.content .kanban__all-money {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 20px;
}
.content .kanban__currency {
  margin-left: 5px;
}
.content .kanban__create-btn {
  background-color: #fff;
  border: none;
  border: 0.5px solid #dddcdc;
  padding: 9px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.content .kanban__btn-plus {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  position: relative;
  display: block;
}
.content .kanban__btn-plus::after, .content .kanban__btn-plus::before {
  width: 1px;
  height: 100%;
  background-color: #000;
  border-radius: 1px;
  content: "";
  position: absolute;
  top: 0;
}
.content .kanban__btn-plus::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.content .kanban .big-plus {
  background: none;
  border: none;
}
.content .kanban .big-plus span {
  width: 15px;
  height: 15px;
}
.content .kanban__create-btn.active {
  background-color: #ffdc00;
  border: 0.5px solid #ffdc00;
}
.content .kanban__deals {
  width: 100%;
  height: 100%;
}
.content .kanban .drag-enter {
  background-color: #dddcdc;
}
.content .kanban .deal {
  background-color: #fff;
  border-radius: 6px;
  border: 0.5px solid #dddcdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 10px 15px 10px 20px;
  position: relative;
  margin-bottom: 30px;
  cursor: -webkit-grab;
  cursor: grab;
}
.content .kanban .deal::before {
  width: 4px;
  height: calc(100% - 20px);
  border-radius: 6px;
  left: -1px;
  top: 10px;
  content: "";
  position: absolute;
}
.content .kanban .deal a {
  cursor: pointer;
}
.content .kanban .deal:last-child {
  margin-bottom: 0;
}
.content .kanban .deal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content .kanban .deal__title {
  font-size: 14px;
  margin-bottom: 10px;
}
.content .kanban .deal__sum-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.content .kanban .deal__price {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 3px;
}
.content .kanban .deal__client, .content .kanban .deal__company {
  color: #007BFB;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.content .kanban .deal__company {
  margin-bottom: 10px;
}
.content .kanban .deal__date {
  margin-bottom: 40px;
}
.content .kanban .deal__plus-btn {
  border: none;
  background: none;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 20px;
  cursor: pointer;
}
.content .kanban .deal__plus-btn img {
  margin-right: 10px;
}
.content .kanban .deal__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .kanban .deal__info li {
  line-height: 0px;
}
.content .kanban .deal__amount {
  width: 20px;
  height: 20px;
  background-color: #ffdc00;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 14px;
  line-height: 16px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .kanban .deal__tel {
  margin-bottom: 18px;
}
.content .kanban__new .deal::before {
  background-color: #ffdc00;
}
.content .kanban__in-work .deal::before {
  background-color: #007BFB;
}
.content .kanban__failed .deal::before {
  background-color: #FF0C0C;
}
.content .kanban__success .deal::before {
  background-color: #00D359;
}

.hide {
  display: none !important;
}

.company-card {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.4);
  top: 0;
  left: 0;
  padding: 30px 30px 50px;
  display: block;
}
.company-card__content {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 30px;
  position: relative;
}
.company-card__close {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffdc00;
}
.company-card__close::after, .company-card__close::before {
  content: "";
  width: 14px;
  height: 1px;
  background-color: #161616;
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.company-card__close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.company-card__close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
.company-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}
.company-card__title {
  margin-right: 18px;
}
.company-card__btn {
  border: none;
  background: none;
  outline: none;
  margin-right: 9px;
  cursor: pointer;
}
.company-card__second-header {
  border-bottom: 1px solid #c4c4c4;
}
.company-card__white-btn {
  cursor: pointer;
  background-color: #fff;
  padding: 12px 20px;
  width: 87px;
  border-radius: 6px;
  font-weight: 700;
  border: none;
  outline: none;
  line-height: 20px;
  position: relative;
  margin-bottom: 12px;
}
.company-card__white-btn::after {
  border-radius: 8px;
  height: 3px;
  width: 47px;
  background-color: #ffdc00;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
}
.company-card__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  height: calc(100% - 93px);
  position: relative;
}
.company-card__box {
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}
.company-card__box::-webkit-scrollbar {
  width: 0;
}
.company-card__box:first-child {
  border-right: 1px solid #c4c4c4;
  padding-right: 30px;
}
.company-card__box:last-child {
  padding-left: 30px;
}
.company-card .about,
.company-card .history {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}
.company-card .about__header,
.company-card .history__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 12px;
  margin-bottom: 15px;
}
.company-card .about__title-block,
.company-card .history__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.company-card .about__title,
.company-card .history__title {
  margin-right: 6px;
  font-size: 14px;
  line-height: 20px;
}
.company-card .about__grey-text,
.company-card .history__grey-text {
  color: #99a2ad;
  font-weight: 500;
  line-height: 20px;
}
.company-card .about__text,
.company-card .history__text {
  margin-bottom: 15px;
  font-weight: 500;
  line-height: 20px;
  display: inline-block;
}
.company-card .about__annual-turnover,
.company-card .history__annual-turnover {
  line-height: 26px;
  font-size: 22px;
}
.company-card .about__email,
.company-card .history__email {
  color: #007BFB;
}
.company-card .about__btn,
.company-card .history__btn {
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  color: #99a2ad;
  line-height: 20px;
  cursor: pointer;
}
.company-card .about__footer,
.company-card .history__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.company-card .edit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.company-card .edit-form__input-title {
  margin-bottom: 4px;
  line-height: 20px;
  font-weight: 500;
}
.company-card .edit-form__input {
  padding: 10px 15px;
  outline: none;
  border-radius: 6px;
  border: 1px solid #c4c4c4;
  width: 100%;
  margin-bottom: 15px;
  line-height: 20px;
}
.company-card .edit-form__input::-webkit-input-placeholder {
  font-weight: bold;
  color: #c4c4c4;
}
.company-card .edit-form__input::-moz-placeholder {
  font-weight: bold;
  color: #c4c4c4;
}
.company-card .edit-form__input:-ms-input-placeholder {
  font-weight: bold;
  color: #c4c4c4;
}
.company-card .edit-form__input::-ms-input-placeholder {
  font-weight: bold;
  color: #c4c4c4;
}
.company-card .edit-form__input::placeholder {
  font-weight: bold;
  color: #c4c4c4;
}
.company-card .edit-form__option {
  background-color: #c4c4c4;
}
.company-card .history {
  position: relative;
}
.company-card .history__title {
  margin-bottom: 30px;
}
.company-card .history__date {
  padding: 5px 24px;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  display: inline-block;
  position: absolute;
  top: 53px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
}
.company-card .history__items {
  border-left: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4;
  padding: 45px 0 0 50px;
  margin-left: 20px;
}
.company-card .history__item {
  position: relative;
  padding: 15px 20px;
  background-color: #f9f9f9;
  border-radius: 6px;
  margin-bottom: 20px;
}
.company-card .history__item:last-child {
  margin-bottom: 0;
}
.company-card .history__btn {
  position: absolute;
  left: -70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 11px;
  line-height: 10px;
  border-radius: 6px;
  border: 1px solid #c4c4c4;
  background-color: #fff;
}
.company-card .history__btn:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  background-color: #c4c4c4;
  top: 50%;
  right: -31px;
}
.company-card .history__img-icon {
  position: absolute;
  top: 18px;
  right: 24px;
}
.company-card .history__info-text {
  color: #99a2ad;
  font-weight: 500;
  margin-bottom: 12px;
  line-height: 20px;
}
.company-card .history__info-date {
  margin-left: 20px;
}
.company-card .history__text {
  font-weight: 500;
  margin-bottom: 0;
  line-height: 20px;
}
.company-card .history__link {
  color: #007BFB;
}

.company-card.active {
  display: block;
}